.navbar-item:hover{
    background-color: rgba(0, 0, 0, 0)!important;
}
.navbar-menu{
    background-color: rgba(0, 0, 0, 0)!important;
}
.navbar-item{
    background-color: rgba(0, 0, 0, 0)!important;
}