*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-item:hover{
    background-color: rgba(0, 0, 0, 0)!important;
}
.navbar-menu{
    background-color: rgba(0, 0, 0, 0)!important;
}
.navbar-item{
    background-color: rgba(0, 0, 0, 0)!important;
}

.navBar{
    background: linear-gradient(black, #222823 ) ;
}

.hoverMenu:hover{
    text-decoration: underline;
}