*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navBar{
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    background: linear-gradient(black, #222823 ) ;
}

.logo {
    max-width: 8vw;
    margin-left: 2vw;
    margin-top: 2vh;
    cursor: pointer;
}

.div-carrito{
    display: flex;
}
.carrito-logo{
    max-width: 3vw;
}

.contador-carrito{
    color: white;
    font-weight: bold;
}

.footer{
    background: linear-gradient(black, #222823 ) ;
}